/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
  background: #ffffff url(../img/bcg.jpg) top center no-repeat;  
  padding-bottom: 493px;
}

#container{
  width: 982px;
  min-height: 1007px;
  margin: 0px auto 0px auto;
  position: relative;
}

#header{
  height: 133px;
}

#header #logo{
  height: 133px;
  float: left;
  width: 634px;
  display: block;
  background: url(../img/logo.gif);
}

#menu{
  height: 45px;
  padding-top: 6px;
}

#menu ul.menu{
  list-style: none;
  display: block;
  margin: 0px;
  padding: 0px;
}

#menu ul.menu > li{
  float: left;
  position: relative;
}

#menu ul.menu > li > a{
  display: block;
  padding: 0px 40px 0px 25px;
  height: 39px;
  background: url(../img/menu.png) top right no-repeat;
  color: #fff;
  text-decoration: none;
  font: 16px/35px Arial;
  
}

#menu ul.menu > li:hover > a{
  background: #e10341 url(../img/menu-hover.png) top right no-repeat;
}

#menu ul.menu > li .sub-menu{
  display: none;
  padding: 10px 0px 35px 0px;
  margin: 0px; 
  background: #e10341;
  position: absolute;
  top: 39px;  
  width: 200px;
}

#menu ul.menu > li:hover .sub-menu{
  display: block;
}

#menu ul.menu > li .sub-menu li{
  display: block; 
  border-bottom: 1px solid #B8B7B7;
  padding: 10px 25px 0px 25px;
}
#menu ul.menu > li .sub-menu li a{
  color: #fff;
  text-decoration: none;
}

#menu ul.menu > li .sub-menu li a:hover{
  text-decoration: underline;
}

#topstory {
  float: right;
  width: 504px;
  padding: 0px 30px 10px 30px;
  background: #B30133;
}

#topstory h1{
  font: bold 24px/30px Arial;
  color: #fff;
  padding: 0px;
  margin-top: 20px
}

#topstory h1 a{
  text-decoration: none;
  color: #fff;
}

#topstory p{
  font: 14px/24px arial;
  color: #fff;
}

#content{
  position: absolute;
  bottom: 4px;
  width: 100%;
}

#content #text{
  width: 100%;
  padding: 20px;
  background: url(../img/opacity.png);
}


#text #cards #card{
   float: left;
   width: 190px;
   background: url(../img/cart-bg.gif) top repeat-x;
   border: 1px solid #c9cbca;
}

#footer{
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center;
}

#footer a{
  color:#b30133;
  font: 14px arial;
}

#footer span{
  color:#b8b7b7;
  font: 14px arial;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
