// zobrazeni clanku na homepage

#articles {
	
	article {
		.clear;
		margin-bottom: @space;
		.clearfix;
		
		h2 {
			margin-bottom: @space/4;
			.t4;
		}
	}

	
			
	
	.datum-publikovani {
		color: @gray-light;

		
	}

	img {
		float: left;
		margin-right: @space;
	}

	.highlight {
		h2 {
			.t2;
		}
		img {
			max-width: 100%;
                        height: auto;
			margin-bottom: @space/1.5;
		}
		.datum-publikovani:after {
			content: " | ";
		}
	}
}

.attachment-article-full {
    margin: 0 0 @space;
    display: block;
    margin: 0 auto;
    height: auto;
}