// zelena hlavicka
#color-lines {
	div {
		float: left;
		width: 20%;
		height: 5px;
		&.orange {
			background-color: @orange;
		}
		&.blue {
			background-color: @blue;
		}
		&.purple {
			background-color: @purple;
		}
		&.yellow {
			background-color: @yellow;
		}
	}
}

#header-wrap {
	@header-space-big: 27px;
	@header-space-small: 17px;
	@header-height: 180px;
	background: @green url(../img/header-bg.png) repeat-x left bottom;
	height: @header-height;
	#header {
		a {
			outline: none;
		}
		width: 98%;
		margin: 0 auto;
		@media screen and (min-width: 700px) {
			width: 90%;
		}
		@media screen and (min-width: 980px) {
			width: 980px;
		}
		.logo {
			padding: @header-space-big 0;
			height: 180px;
			width: 550px;
			.left;
			.border-box;
			.ctyrlistek {
				background: transparent url(../img/logo-bg.png) no-repeat left top;
				.left;
				width: 110px;
				height: 105px;
				padding-right: @header-space-big;
			}
			a {
				border-bottom: 0;
			}

			.logoTypo {
				color: @white;
				.typeAbcGreen;
				font-weight: normal;

			}
			h1 {
				padding-bottom: 10px;
			}
			h1 a {
				.logoTypo;
				.h1;
			}
			h2 a {
				.logoTypo;
				.h2;
			}
		}
		.icons {
		   .border-box;
		   .right;
		   padding: @header-space-small 0;
		   a {
			   .typeface1;
			   .t6;
			   .left;
			   .border-box;
			   background: transparent url(../img/header-icons.png) no-repeat left top; 
			   width: 103px;
			   margin-right: 25px;
			   height: 146px;
			   color: @white;
			   padding-top:103px;
			   text-align: center;
			   text-decoration: underline;
			   line-height: 18px;
			   &.podporte {
				   background-position:-103px top;
			   }
			   &.info {
				   background-position:-206px top;
				   margin-right: 0;
			   }
		   }
	   }
	}
}
