// Prouzek uplne nahore v hlavice s informacemi o strane
.separated {
	background: transparent url(../img/info-line-separator.png) no-repeat right center;
}
.screen-reader-text {
	font-size: 0;
	height: 0;
	width: 0;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#info-line-wrap {
	background-color: @green-dark;
	.clearfix;
}
#info-line {
	width: 98%;
	margin: 0 auto;
	@media screen and (min-width: 700px) {
		width: 90%;
	}
	@media screen and (min-width: 980px) {
		width: 980px;
	}
	> div {
		float: left;
		ul {
			margin: 0;
			padding: 0;
		}
	}
	li {
		float: left;
		list-style-type:none;
		.separated;
		a {
			.t7;
			.border-box;
			padding:0 @space;
			color: @white;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: left center;
			line-height: @space*2;
			height: @space*2;
			display: block;
			border-bottom: 0;
			&:hover {
				text-decoration: none;
			}
		}
	}
	div.menu li {
		a:before {
			content: "";
			background: transparent url(../img/info-line-icons.png) no-repeat left top;
		}
		&.hp a:before {
			padding-left: @space/2+15;
		}
		&.dary a:before {
			padding-left: @space/2+16;
			background-position: left -20px;
		}
		&.kontakt a:before {
			padding-left: @space/2+9;
			background-position: left -40px;
		}
		&.dalsi a:before {
			padding-left: @space/2+21;
			background-position: left -60px;
		}
	}

	div.search {
		padding: 10px 20px;
		.separated;
		h2 {
			display: none;
		}
		.searchform {
			background: transparent url(../img/info-line-search-bg.png) no-repeat left top;
			padding: 0 5px;
			width: 140px;
			.border-box;
			input[type="text"] {
				border: none;
				width: 106px;
				height: @space;
				float: left;
				padding: 0;
				color: @gray-light;
				.t7;
			}
			input[type="submit"] {
				border: none;
				background: none;
				padding: 0;
				height: 20px;
				width: 20px;
				color: transparent;
				background: transparent url(../img/info-line-search-button.png) no-repeat right center;
			}
		}
	}

	div.social {
		padding: 0 14px;
		a {
			float: left;
			background: transparent url(../img/social-icons-small.png) no-repeat left center;
			line-height: @space*2;
			height: @space*2;
			width: 24px;
			border-bottom: 0;
			&.facebook {
				background-position: -24px center;
			}
			&.youtube {
				background-position: -48px center;
			}
		}
	}
}


