// rozlozeni stranky (pouze velikosti a umisteni, ne graficke stylovani prvku)
#container {
	width: 98%;
	margin: 0 auto;
	@media screen and (min-width: 700px) {
		width: 90%;
	}
	@media screen and (min-width: 980px) {
		width: 980px;
	}
}

.content-wrapper {
	@media screen and (min-width: 980px) {
		padding: 0 20px;
	}
}
