// styles for splash page
.splash {
	text-align: center;

	.org-name {
                margin: 45px 16px 30px;
		text-align: left;
		background: @green;
		display: inline-block;
		padding: 0 @space;
		position: relative;
		color: #fff;
		h1, h2 {
			font-weight: normal;
                        color: #fff;
			.typeAbcGreen;
		}
		h1 {
			padding: 20px 10px 0;
		}
		h2 {
			padding: 15px 10px 10px;
		}
		@media screen and (min-width: 640px) {
			margin-top: 85px;
                        position: relative;
                        left: 50px;
			h1 {
				font-size: 36px;
				padding: 5px 30px 0;
			}
			h2 {
				font-size: 24px;
				padding: 0px 30px 10px;
			}
                    &:before {
                            content: "";
                            position: absolute;
                            top: -25px;
                            left: -110px;
                            display: block;
                            width: 130px;
                            height: 130px;
                            background: transparent url("../img/logo-v-kruhu.png") 0 0 no-repeat;
                    }
		}
	}

	.splash-continue {
		background: @green;
		color: #fff;
		font-size: 24px;
		padding: @space @space*2;
		display: inline-block;
		.rounded-corners(@space*2);
                border: 2px solid #FFFFFF;
		@media screen and (min-width: 640px) {
			position: absolute;
			bottom: -26px;
                        left: 50%;
                        margin: 0 0 0 -148px;
		}
	}
        
        .bottom-nav {
            display: none; 
        }
        
        .visual {
            overflow: visible;
            position: relative;
        }
        
        .visual-footer {
            margin: 30px 0;
        }
                
}
