.visual {
	overflow: hidden;
	text-align: center;

	@media screen and (min-width: 640px) {
		min-height: 499px;
		background: #fff url("../img/splash-background.jpg") 50% 0 no-repeat;
		border-bottom: 2px solid @green;
	}
        
        .action-boxes {
            
            @media screen and (min-width: 640px) {
                padding: 40px 0 0 0;
            }
            
        }

	.box {
		display: block;
		padding: @space;
		h3 {
			font-weight: normal;
			.typeAbcGreen;
			color: #fff;
			font-size: 18px;
		}
		@media screen and (min-width: 640px) {
			width: 320px;
			display: inline-block;
                        vertical-align: top;
			h3 {
				font-size: 24px;
			}
		}
	}
	.box-info {
		background: @orange;
		margin: @space;
                &:before {
                    content: " ";
                    position: absolute;
                    background: @orange;
                }
                &:after {
                    content: " ";
                    position: absolute;
                    background: @orange;
                }
	}
	.box-fundraising {
		background: @purple;
		margin: @space;
                &:before {
                    content: " ";
                    position: absolute;
                    background: @purple;
                }
                &:after {
                    content: " ";
                    position: absolute;
                    background: @purple;
                }
	}
}

.visual-footer {
	text-align: center;
	p {
		background: @gray-box;
		border: 1px solid #c0cccc;
		padding: 5px 10px;
		display: inline-block;
	}
}
